---
const profilePicture = "https://i.imgur.com/JPGFE75.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About us</title>
  </head>
  <style>
    .profile {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 1rem 0 3rem 0;
    }

    .profile__details {
      flex: 1 0 300px;
    }

    .profile__details > h1 {
      margin-top: 0;
    }

    .profile__picture {
      border-radius: 50%;
      margin: 0 2rem 1rem 0;
    }
  </style>
  <body>
    <h1>About us</h1>
    <div class="profile">
      <img
        src={profilePicture}
        class="profile__picture"
        alt="Frau Katerina's headshot."
        width="100px"
        height="100px"
      />
      <div class="profile__details">
        <h1>Frau Katerina</h1>
        <h2>VP of Engineering at Goooogle</h2>
        <p>
          Helping developers be excellent and succeed at building scalable
          products
        </p>
      </div>
    </div>
  </body>
</html>
